/* App{
    text-align: center;
   
} */
.App-header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: baseline; 
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 30px;
    border-color: #282c34;
    
    font-size: small;
    margin-left: 30px;
}  
p1{
    font-size: 50px;
    font-family: Didot, serif;
    font-weight: normal;
    font-variant: small-caps;
    color: rgb(7, 6, 6);
    
    text-align: center;
    
    
}

button{
    height: 40px;
    width: 120px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 40px;
    border-color: #000000;
    font-size: 18px;
    margin-left: 180px;
    margin-top: 20px;
                        
}

